.instance-panel
  .row
    .small-8.columns
      %h3.instance-panel__title
        March 1, 2016 - June 1, 2016
      .instance-panel__detail
        %strong
          Instructors:
        Hari Mohanraj, Max Miller
      .instance-panel__detail
        %strong
          Contact Email:
        max@hari.max
      .instance-panel__detail
        %strong
          Campus:
        Somewhere Near You, 123 Street, USA
    .small-2.columns
      %span.instance-panel__label
        Unpublished
    .small-2.columns
      .instance-panel__detail
        New York City
      .instance-panel__detail
        24 enrollments
.instance-panel
  .row
    .small-8.columns
      %h3.instance-panel__title
        March 1, 2016 - June 1, 2016
      .instance-panel__detail
        %strong
          Instructors:
        Hari Mohanraj, Max Miller
      .instance-panel__detail
        %strong
          Contact Email:
        max@hari.max
      .instance-panel__detail
        %strong
          Campus:
        Somewhere Near You, 123 Street, USA
    .small-2.columns
      %span.instance-panel__label--published
        Published
    .small-2.columns
      .instance-panel__detail
        New York City
      .instance-panel__detail
        24 enrollments
.instance-panel
  .row
    .small-8.columns
      %h3.instance-panel__title
        March 1, 2016 - June 1, 2016
      .instance-panel__detail
        %strong
          Instructors:
        Hari Mohanraj, Max Miller
      .instance-panel__detail
        %strong
          Contact Email:
        max@hari.max
      .instance-panel__detail
        %strong
          Campus:
        Somewhere Near You, 123 Street, USA
    .small-2.columns
      %span.instance-panel__label--draft
        Draft
    .small-2.columns
      .instance-panel__detail
        New York City
      .instance-panel__detail
        24 enrollments
